[submodule "Pelican/dependencies/glfw"]
	path = Pelican/dependencies/glfw
	url = https://github.com/SeppahBaws/glfw
	branch = 3.3-stable
[submodule "Pelican/dependencies/glm"]
	path = Pelican/dependencies/glm
	url = https://github.com/g-truc/glm
[submodule "Pelican/dependencies/logtools"]
	path = Pelican/dependencies/logtools
	url = https://github.com/SeppahBaws/logtools.git
[submodule "Pelican/dependencies/imgui"]
	path = Pelican/dependencies/imgui
	url = https://github.com/SeppahBaws/imgui
	branch = docking
[submodule "Pelican/dependencies/assimp"]
	path = Pelican/dependencies/assimp
	url = https://github.com/assimp/assimp
